In [ ]:
# Install Java, Spark, and Findspark
%%bash
apt-get install openjdk-8-jdk-headless -qq > /dev/null
[ ! -e "$(basename spark-3.1.2-bin-hadoop2.7.tgz)" ] && wget  http://apache.osuosl.org/spark/spark-3.1.2/spark-3.1.2-bin-hadoop2.7.tgz  
tar xf spark-3.1.2-bin-hadoop2.7.tgz
pip install -q findspark

In [ ]:
#Set Environment Variables
#Set the locations where Spark and Java are installed.
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.1.2-bin-hadoop2.7"

In [ ]:
# Start a SparkSession
import findspark
findspark.init()
from pyspark.sql import SparkSession

# get a spark session. 
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [ ]:
# Create Dataframe in Spark!
! [ ! -e "$(basename AH_Provisional_Diabetes_Death_Counts_for_2020.csv)" ] && wget  'https://storage.googleapis.com/files.mobibootcamp.com/2021-datasets/AH_Provisional_Diabetes_Death_Counts_for_2020.csv'
df = spark.read.csv('AH_Provisional_Diabetes_Death_Counts_for_2020.csv',
                      header= True, 
                      inferSchema = True)
#df.show()

print(df.columns)

--2021-11-18 00:47:15--  https://storage.googleapis.com/files.mobibootcamp.com/2021-datasets/AH_Provisional_Diabetes_Death_Counts_for_2020.csv
Resolving storage.googleapis.com (storage.googleapis.com)... 142.250.188.208, 142.251.33.208, 172.217.9.208, ...
Connecting to storage.googleapis.com (storage.googleapis.com)|142.250.188.208|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17509 (17K) [text/csv]
Saving to: ‘AH_Provisional_Diabetes_Death_Counts_for_2020.csv’

AH_Provisional_Diab 100%[===================>]  17.10K  --.-KB/s    in 0.002s

2021-11-18 00:47:15 (9.95 MB/s) - ‘AH_Provisional_Diabetes_Death_Counts_for_2020.csv’ saved [17509/17509]

['Data as of', 'Date_Of_Death_Year', 'Date_Of_Death_Month', 'AgeGroup', 'Sex', 'COVID19', 'Diabetes.uc', 'Diabetes.mc', 'C19PlusDiabetes', 'C19PlusHypertensiveDiseases', 'C19PlusMajorCardiovascularDiseases', 'C19PlusHypertensiveDiseasesAndMCVD', 'C19PlusChronicLowerRespiratoryDisease', 'C19PlusKidneyDisease', 'C19PlusChronicLiverDiseaseAndCirrhosis', 'C19PlusObesity']

In [ ]:
# Determine how many rows are present in the dataset
df.count()

226

In [ ]:
# Determine how many columns are present in the dataset
print(len(df.columns))

16

In [ ]:
df.take(5)

[Row(Data as of='10/20/2020', Date_Of_Death_Year=2020, Date_Of_Death_Month=1, AgeGroup='<18 years', Sex='Female (F)', COVID19=0, Diabetes.uc=3, Diabetes.mc=5, C19PlusDiabetes=0, C19PlusHypertensiveDiseases=0, C19PlusMajorCardiovascularDiseases=0, C19PlusHypertensiveDiseasesAndMCVD=0, C19PlusChronicLowerRespiratoryDisease=0, C19PlusKidneyDisease=0, C19PlusChronicLiverDiseaseAndCirrhosis=0, C19PlusObesity=0),
 Row(Data as of='10/20/2020', Date_Of_Death_Year=2020, Date_Of_Death_Month=1, AgeGroup='<18 years', Sex='Male (M)', COVID19=0, Diabetes.uc=3, Diabetes.mc=3, C19PlusDiabetes=0, C19PlusHypertensiveDiseases=0, C19PlusMajorCardiovascularDiseases=0, C19PlusHypertensiveDiseasesAndMCVD=0, C19PlusChronicLowerRespiratoryDisease=0, C19PlusKidneyDisease=0, C19PlusChronicLiverDiseaseAndCirrhosis=0, C19PlusObesity=0),
 Row(Data as of='10/20/2020', Date_Of_Death_Year=2020, Date_Of_Death_Month=1, AgeGroup='18-29 years', Sex='Female (F)', COVID19=0, Diabetes.uc=20, Diabetes.mc=36, C19PlusDiabetes=0, C19PlusHypertensiveDiseases=0, C19PlusMajorCardiovascularDiseases=0, C19PlusHypertensiveDiseasesAndMCVD=0, C19PlusChronicLowerRespiratoryDisease=0, C19PlusKidneyDisease=0, C19PlusChronicLiverDiseaseAndCirrhosis=0, C19PlusObesity=0),
 Row(Data as of='10/20/2020', Date_Of_Death_Year=2020, Date_Of_Death_Month=1, AgeGroup='18-29 years', Sex='Male (M)', COVID19=0, Diabetes.uc=44, Diabetes.mc=65, C19PlusDiabetes=0, C19PlusHypertensiveDiseases=0, C19PlusMajorCardiovascularDiseases=0, C19PlusHypertensiveDiseasesAndMCVD=0, C19PlusChronicLowerRespiratoryDisease=0, C19PlusKidneyDisease=0, C19PlusChronicLiverDiseaseAndCirrhosis=0, C19PlusObesity=0),
 Row(Data as of='10/20/2020', Date_Of_Death_Year=2020, Date_Of_Death_Month=1, AgeGroup='30-39 years', Sex='Female (F)', COVID19=0, Diabetes.uc=53, Diabetes.mc=104, C19PlusDiabetes=0, C19PlusHypertensiveDiseases=0, C19PlusMajorCardiovascularDiseases=0, C19PlusHypertensiveDiseasesAndMCVD=0, C19PlusChronicLowerRespiratoryDisease=0, C19PlusKidneyDisease=0, C19PlusChronicLiverDiseaseAndCirrhosis=0, C19PlusObesity=0)]

In [ ]:
# Cleaning step - Change column names                           
df = df.withColumnRenamed('Data as of','date')
df = df.withColumnRenamed('Date_Of_Death_Year','death_year')
df = df.withColumnRenamed('Date_Of_Death_Month','death_month')
df = df.withColumnRenamed('AgeGroup','agegroup')
df = df.withColumnRenamed('Sex','sex')
df = df.withColumnRenamed('COVID19','covid19')
df = df.withColumnRenamed('Diabetes.uc','diabetes_uc')
df = df.withColumnRenamed('Diabetes.mc','diabetes_mc')
df = df.withColumnRenamed('C19PlusDiabetes','c19_diabete')
df = df.withColumnRenamed('C19PlusHypertensiveDiseases','c19_hypertensive')
df = df.withColumnRenamed('C19PlusMajorCardiovascularDiseases','c19_cardio_vascular')
df = df.withColumnRenamed('C19PlusHypertensiveDiseasesAndMCVD','c19_hypertensive_mcvd')
df = df.withColumnRenamed('C19PlusChronicLowerRespiratoryDisease','c19_lower_respiratory')
df = df.withColumnRenamed('C19PlusKidneyDisease','c19_kidney')
df = df.withColumnRenamed('C19PlusChronicLiverDiseaseAndCirrhosis','c19_liver_cirrhosis')
df = df.withColumnRenamed('C19PlusObesity','c19_obesity')
print(df.columns)

['date', 'death_year', 'death_month', 'agegroup', 'sex', 'covid19', 'diabetes_uc', 'diabetes_mc', 'c19_diabete', 'c19_hypertensive', 'c19_cardio_vascular', 'c19_hypertensive_mcvd', 'c19_lower_respiratory', 'c19_kidney', 'c19_liver_cirrhosis', 'c19_obesity']

In [ ]:
# check datatypes of all columns
df.dtypes

[('date', 'string'),
 ('death_year', 'int'),
 ('death_month', 'int'),
 ('agegroup', 'string'),
 ('sex', 'string'),
 ('covid19', 'int'),
 ('diabetes_uc', 'int'),
 ('diabetes_mc', 'int'),
 ('c19_diabete', 'int'),
 ('c19_hypertensive', 'int'),
 ('c19_cardio_vascular', 'int'),
 ('c19_hypertensive_mcvd', 'int'),
 ('c19_lower_respiratory', 'int'),
 ('c19_kidney', 'int'),
 ('c19_liver_cirrhosis', 'int'),
 ('c19_obesity', 'int')]

In [ ]:
df.show()

+----------+----------+-----------+-----------+----------+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
|      date|death_year|death_month|   agegroup|       sex|covid19|diabetes_uc|diabetes_mc|c19_diabete|c19_hypertensive|c19_cardio_vascular|c19_hypertensive_mcvd|c19_lower_respiratory|c19_kidney|c19_liver_cirrhosis|c19_obesity|
+----------+----------+-----------+-----------+----------+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
|10/20/2020|      2020|          1|  <18 years|Female (F)|      0|          3|          5|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|  <18 years|  Male (M)|      0|          3|          3|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|18-29 years|Female (F)|      0|         20|         36|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|18-29 years|  Male (M)|      0|         44|         65|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|30-39 years|Female (F)|      0|         53|        104|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|30-39 years|  Male (M)|      0|         79|        161|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|40-49 years|Female (F)|      0|        148|        326|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|40-49 years|  Male (M)|      0|        261|        535|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|50-59 years|Female (F)|      1|        365|        969|          0|               0|                  0|                    0|                    0|         0|                  0|          1|
|10/20/2020|      2020|          1|50-59 years|  Male (M)|      0|        620|       1669|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|50-64 years|Female (F)|      1|        671|       1856|          0|               0|                  0|                    0|                    0|         0|                  0|          1|
|10/20/2020|      2020|          1|50-64 years|  Male (M)|      0|       1129|       3156|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|60-69 years|Female (F)|      0|        733|       2120|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|60-69 years|  Male (M)|      1|       1130|       3374|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|65-74 years|Female (F)|      2|        918|       2798|          0|               0|                  1|                    1|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|65-74 years|  Male (M)|      1|       1334|       4177|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|70-79 years|Female (F)|      2|        971|       3188|          0|               0|                  1|                    1|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|70-79 years|  Male (M)|      0|       1316|       4526|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|75-84 years|Female (F)|      1|        993|       3328|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|10/20/2020|      2020|          1|75-84 years|  Male (M)|      0|       1173|       4295|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
+----------+----------+-----------+-----------+----------+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
only showing top 20 rows

In [ ]:
# Find Count of Null, None, NaN of All DataFrame Columns
from pyspark.sql.functions import col,isnan, when, count
df.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]
   ).show()

+----+----------+-----------+--------+---+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
|date|death_year|death_month|agegroup|sex|covid19|diabetes_uc|diabetes_mc|c19_diabete|c19_hypertensive|c19_cardio_vascular|c19_hypertensive_mcvd|c19_lower_respiratory|c19_kidney|c19_liver_cirrhosis|c19_obesity|
+----+----------+-----------+--------+---+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
|   0|         0|          0|       1|  0|      0|          0|          0|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
+----+----------+-----------+--------+---+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+

In [ ]:
# Returning new dataframe named df_dropdup restricting rows with null values
df_dropdup = df.dropna()
df_dropdup.count()
df_dropdup = df_dropdup.where(col('agegroup').isNotNull())
df_dropdup.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in df.columns]
   ).show()

+----+----------+-----------+--------+---+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
|date|death_year|death_month|agegroup|sex|covid19|diabetes_uc|diabetes_mc|c19_diabete|c19_hypertensive|c19_cardio_vascular|c19_hypertensive_mcvd|c19_lower_respiratory|c19_kidney|c19_liver_cirrhosis|c19_obesity|
+----+----------+-----------+--------+---+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
|   0|         0|          0|       0|  0|      0|          0|          0|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
+----+----------+-----------+--------+---+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+

In [ ]:
# Drop 'date' and 'death_year' columns from a dataframe
df_dropdup = df_dropdup.drop('date', 'death_year')
df_dropdup.show()

+-----------+-----------+----------+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
|death_month|   agegroup|       sex|covid19|diabetes_uc|diabetes_mc|c19_diabete|c19_hypertensive|c19_cardio_vascular|c19_hypertensive_mcvd|c19_lower_respiratory|c19_kidney|c19_liver_cirrhosis|c19_obesity|
+-----------+-----------+----------+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
|          1|  <18 years|Female (F)|      0|          3|          5|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|  <18 years|  Male (M)|      0|          3|          3|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|18-29 years|Female (F)|      0|         20|         36|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|18-29 years|  Male (M)|      0|         44|         65|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|30-39 years|Female (F)|      0|         53|        104|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|30-39 years|  Male (M)|      0|         79|        161|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|40-49 years|Female (F)|      0|        148|        326|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|40-49 years|  Male (M)|      0|        261|        535|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|50-59 years|Female (F)|      1|        365|        969|          0|               0|                  0|                    0|                    0|         0|                  0|          1|
|          1|50-59 years|  Male (M)|      0|        620|       1669|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|50-64 years|Female (F)|      1|        671|       1856|          0|               0|                  0|                    0|                    0|         0|                  0|          1|
|          1|50-64 years|  Male (M)|      0|       1129|       3156|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|60-69 years|Female (F)|      0|        733|       2120|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|60-69 years|  Male (M)|      1|       1130|       3374|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|65-74 years|Female (F)|      2|        918|       2798|          0|               0|                  1|                    1|                    0|         0|                  0|          0|
|          1|65-74 years|  Male (M)|      1|       1334|       4177|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|70-79 years|Female (F)|      2|        971|       3188|          0|               0|                  1|                    1|                    0|         0|                  0|          0|
|          1|70-79 years|  Male (M)|      0|       1316|       4526|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|75-84 years|Female (F)|      1|        993|       3328|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|75-84 years|  Male (M)|      0|       1173|       4295|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
+-----------+-----------+----------+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
only showing top 20 rows

In [ ]:
# Drop Unknown age rows which were existed in 'agegroup' column from a DataFrame
df_dropdup = df_dropdup.filter((df_dropdup.agegroup != 'Unknown age'))
df_dropdup.show()
df_dropdup.count()

+-----------+-----------+----------+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
|death_month|   agegroup|       sex|covid19|diabetes_uc|diabetes_mc|c19_diabete|c19_hypertensive|c19_cardio_vascular|c19_hypertensive_mcvd|c19_lower_respiratory|c19_kidney|c19_liver_cirrhosis|c19_obesity|
+-----------+-----------+----------+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
|          1|  <18 years|Female (F)|      0|          3|          5|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|  <18 years|  Male (M)|      0|          3|          3|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|18-29 years|Female (F)|      0|         20|         36|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|18-29 years|  Male (M)|      0|         44|         65|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|30-39 years|Female (F)|      0|         53|        104|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|30-39 years|  Male (M)|      0|         79|        161|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|40-49 years|Female (F)|      0|        148|        326|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|40-49 years|  Male (M)|      0|        261|        535|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|50-59 years|Female (F)|      1|        365|        969|          0|               0|                  0|                    0|                    0|         0|                  0|          1|
|          1|50-59 years|  Male (M)|      0|        620|       1669|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|50-64 years|Female (F)|      1|        671|       1856|          0|               0|                  0|                    0|                    0|         0|                  0|          1|
|          1|50-64 years|  Male (M)|      0|       1129|       3156|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|60-69 years|Female (F)|      0|        733|       2120|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|60-69 years|  Male (M)|      1|       1130|       3374|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|65-74 years|Female (F)|      2|        918|       2798|          0|               0|                  1|                    1|                    0|         0|                  0|          0|
|          1|65-74 years|  Male (M)|      1|       1334|       4177|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|70-79 years|Female (F)|      2|        971|       3188|          0|               0|                  1|                    1|                    0|         0|                  0|          0|
|          1|70-79 years|  Male (M)|      0|       1316|       4526|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|75-84 years|Female (F)|      1|        993|       3328|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|75-84 years|  Male (M)|      0|       1173|       4295|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
+-----------+-----------+----------+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
only showing top 20 rows

216

In [ ]:
# Computes summary statistics
df_dropdup.describe().show()
df_dropdup.describe(['diabetes_uc', 'diabetes_mc']).show()

+-------+-----------------+-----------+----------+------------------+------------------+------------------+------------------+------------------+-------------------+---------------------+---------------------+------------------+-------------------+-----------------+
|summary|      death_month|   agegroup|       sex|           covid19|       diabetes_uc|       diabetes_mc|       c19_diabete|  c19_hypertensive|c19_cardio_vascular|c19_hypertensive_mcvd|c19_lower_respiratory|        c19_kidney|c19_liver_cirrhosis|      c19_obesity|
+-------+-----------------+-----------+----------+------------------+------------------+------------------+------------------+------------------+-------------------+---------------------+---------------------+------------------+-------------------+-----------------+
|  count|              216|        216|       216|               216|               216|               216|               216|               216|                216|                  216|                  216|               216|                216|              216|
|   mean|              5.0|       null|      null|          1790.125| 659.2407407407408|2413.0555555555557| 293.7962962962963|391.09722222222223|   833.574074074074|     833.574074074074|   153.75462962962962|157.00925925925927| 14.560185185185185| 61.4537037037037|
| stddev|2.587986556882522|       null|      null|2573.1342715939177|481.65135263514287|1918.2738550440959|370.84543910792394| 570.6365721548347|  1201.268551999258|    1201.268551999258|   214.14181342637553|200.58236122550153|  19.56851025126642|74.36039008857978|
|    min|                1|18-29 years|Female (F)|                 0|                 0|                 1|                 0|                 0|                  0|                    0|                    0|                 0|                  0|                0|
|    max|                9|  <18 years|  Male (M)|             15882|              1569|              7200|              1521|              3274|               7001|                 7001|                 1094|               957|                 89|              380|
+-------+-----------------+-----------+----------+------------------+------------------+------------------+------------------+------------------+-------------------+---------------------+---------------------+------------------+-------------------+-----------------+

+-------+------------------+------------------+
|summary|       diabetes_uc|       diabetes_mc|
+-------+------------------+------------------+
|  count|               216|               216|
|   mean| 659.2407407407408|2413.0555555555557|
| stddev|481.65135263514287|1918.2738550440959|
|    min|                 0|                 1|
|    max|              1569|              7200|
+-------+------------------+------------------+

As we can see in the above table, the mean value for diabetes_uc is about 633 but mean of diabetes_mc is higher and equal to 2316!

In [ ]:
# Find maximum value of covid19 column and return its related row
v2 = df_dropdup.select("covid19").rdd.max()[0] 
print(v2)
df1 = df_dropdup.filter(df_dropdup.covid19 == v2)
df1.show()

15882
+-----------+---------+----------+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
|death_month| agegroup|       sex|covid19|diabetes_uc|diabetes_mc|c19_diabete|c19_hypertensive|c19_cardio_vascular|c19_hypertensive_mcvd|c19_lower_respiratory|c19_kidney|c19_liver_cirrhosis|c19_obesity|
+-----------+---------+----------+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
|          4|80+ years|Female (F)|  15882|       1569|       7200|       1521|            3274|               7001|                 7001|                 1094|       806|                 25|        100|
+-----------+---------+----------+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+

As we see in the above table, the maximum death due to covid19 happened in April 2020 for females who were above 80 years old

In [ ]:
# Find outliers that are 3 standard deviation from the mean
std_val = df_dropdup.agg({'diabetes_uc': 'stddev'}).collect()[0][0]
mean_val = df_dropdup.agg({'diabetes_uc': 'mean'}).collect()[0][0]

hi_bound = mean_val + (3 * std_val)
print(hi_bound)
low_bound = mean_val - (3 * std_val)
print(low_bound)
df2 = df_dropdup
df2.where((df2['diabetes_uc'] < hi_bound) & (df2['diabetes_uc'] > low_bound)).count() 


std_val1 = df_dropdup.agg({'diabetes_mc': 'stddev'}).collect()[0][0]
mean_val1 = df_dropdup.agg({'diabetes_mc': 'mean'}).collect()[0][0]

hi_bound1 = mean_val1 + (3 * std_val1)
print(hi_bound1)
low_bound1 = mean_val1 - (3 * std_val1)
print(low_bound1)
df2.where((df2['diabetes_mc'] < hi_bound1) & (df2['diabetes_mc'] > low_bound1)).count()

2104.1947986461696
-785.713317164688
8167.877120687844
-3341.7660095767324

216

Therefore, the outlier for two columns, diabetes_uc and diabetes_mc which are 3 standard deviation from the mean, are 2104.19, -785.7, 8167.877 and -3341.76, respectively.

In [ ]:
# print the schema of the DataFrame to know more about the dataset
df_dropdup.printSchema()
# The DataFrame consists of 14 features or columns. Each column contains string-type or integer-type values.

root
 |-- death_month: integer (nullable = true)
 |-- agegroup: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- covid19: integer (nullable = true)
 |-- diabetes_uc: integer (nullable = true)
 |-- diabetes_mc: integer (nullable = true)
 |-- c19_diabete: integer (nullable = true)
 |-- c19_hypertensive: integer (nullable = true)
 |-- c19_cardio_vascular: integer (nullable = true)
 |-- c19_hypertensive_mcvd: integer (nullable = true)
 |-- c19_lower_respiratory: integer (nullable = true)
 |-- c19_kidney: integer (nullable = true)
 |-- c19_liver_cirrhosis: integer (nullable = true)
 |-- c19_obesity: integer (nullable = true)

In [ ]:
# Find unique values of a categorical column which is agegroup and sex in our dataset
print(df_dropdup.select('agegroup').distinct().rdd.map(lambda r: r[0]).collect())
print(df_dropdup.select('sex').distinct().rdd.map(lambda r: r[0]).collect())

['85+ years', '50-59 years', '40-49 years', '70-79 years', '18-29 years', '60-69 years', '80+ years', '65-74 years', '75-84 years', '<18 years', '30-39 years', '50-64 years']
['Female (F)', 'Male (M)']

In [ ]:
# Do the groupBy() on agegroup and sex columns and then find the sum of covid19 for each agegroup using sum() aggregate function and sort them
df_dropdup.groupBy("agegroup", "sex").sum("covid19").sort("agegroup").show(truncate=False)

+-----------+----------+------------+
|agegroup   |sex       |sum(covid19)|
+-----------+----------+------------+
|18-29 years|Female (F)|329         |
|18-29 years|Male (M)  |583         |
|30-39 years|Female (F)|827         |
|30-39 years|Male (M)  |1740        |
|40-49 years|Male (M)  |4569        |
|40-49 years|Female (F)|2107        |
|50-59 years|Male (M)  |11219       |
|50-59 years|Female (F)|5628        |
|50-64 years|Female (F)|11101       |
|50-64 years|Male (M)  |20905       |
|60-69 years|Male (M)  |21760       |
|60-69 years|Female (F)|12697       |
|65-74 years|Female (F)|16662       |
|65-74 years|Male (M)  |26397       |
|70-79 years|Male (M)  |28960       |
|70-79 years|Female (F)|20230       |
|75-84 years|Male (M)  |28935       |
|75-84 years|Female (F)|23529       |
|80+ years  |Female (F)|49108       |
|80+ years  |Male (M)  |38602       |
+-----------+----------+------------+
only showing top 20 rows

In [ ]:
# To see how many female and male died due to covid19
df_dropdup.groupBy("sex").sum("covid19").show(truncate=False)

+----------+------------+
|sex       |sum(covid19)|
+----------+------------+
|Female (F)|178631      |
|Male (M)  |208036      |
+----------+------------+

As we can see in the above table, the number of males who died due to covid19 is about 14% more than females.

In [ ]:
# Sort the entire dataframe based on covid19 column(by default it is sorted in ascending order)
df_dropdup.orderBy("covid19").show()

+-----------+-----------+----------+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
|death_month|   agegroup|       sex|covid19|diabetes_uc|diabetes_mc|c19_diabete|c19_hypertensive|c19_cardio_vascular|c19_hypertensive_mcvd|c19_lower_respiratory|c19_kidney|c19_liver_cirrhosis|c19_obesity|
+-----------+-----------+----------+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
|          1|  <18 years|Female (F)|      0|          3|          5|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|  <18 years|  Male (M)|      0|          3|          3|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|18-29 years|Female (F)|      0|         20|         36|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|18-29 years|  Male (M)|      0|         44|         65|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|30-39 years|Female (F)|      0|         53|        104|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|30-39 years|  Male (M)|      0|         79|        161|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|40-49 years|Female (F)|      0|        148|        326|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|40-49 years|  Male (M)|      0|        261|        535|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|50-59 years|  Male (M)|      0|        620|       1669|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|50-64 years|  Male (M)|      0|       1129|       3156|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|60-69 years|Female (F)|      0|        733|       2120|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|70-79 years|  Male (M)|      0|       1316|       4526|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          1|75-84 years|  Male (M)|      0|       1173|       4295|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          2|  <18 years|Female (F)|      0|          4|          6|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          2|  <18 years|  Male (M)|      0|          2|          3|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          2|18-29 years|Female (F)|      0|         22|         37|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          2|18-29 years|  Male (M)|      0|         29|         49|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          2|30-39 years|  Male (M)|      0|         89|        171|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          2|40-49 years|Female (F)|      0|        109|        301|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
|          2|40-49 years|  Male (M)|      0|        211|        478|          0|               0|                  0|                    0|                    0|         0|                  0|          0|
+-----------+-----------+----------+-------+-----------+-----------+-----------+----------------+-------------------+---------------------+---------------------+----------+-------------------+-----------+
only showing top 20 rows

In [ ]:
# To return Array of Row type not a DataFrame use collect() which returns data in an Array to the driver.
df_dropdup.collect()

[Row(death_month=1, agegroup='<18 years', sex='Female (F)', covid19=0, diabetes_uc=3, diabetes_mc=5, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='<18 years', sex='Male (M)', covid19=0, diabetes_uc=3, diabetes_mc=3, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='18-29 years', sex='Female (F)', covid19=0, diabetes_uc=20, diabetes_mc=36, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='18-29 years', sex='Male (M)', covid19=0, diabetes_uc=44, diabetes_mc=65, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='30-39 years', sex='Female (F)', covid19=0, diabetes_uc=53, diabetes_mc=104, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='30-39 years', sex='Male (M)', covid19=0, diabetes_uc=79, diabetes_mc=161, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='40-49 years', sex='Female (F)', covid19=0, diabetes_uc=148, diabetes_mc=326, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='40-49 years', sex='Male (M)', covid19=0, diabetes_uc=261, diabetes_mc=535, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='50-59 years', sex='Female (F)', covid19=1, diabetes_uc=365, diabetes_mc=969, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=1),
 Row(death_month=1, agegroup='50-59 years', sex='Male (M)', covid19=0, diabetes_uc=620, diabetes_mc=1669, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='50-64 years', sex='Female (F)', covid19=1, diabetes_uc=671, diabetes_mc=1856, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=1),
 Row(death_month=1, agegroup='50-64 years', sex='Male (M)', covid19=0, diabetes_uc=1129, diabetes_mc=3156, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='60-69 years', sex='Female (F)', covid19=0, diabetes_uc=733, diabetes_mc=2120, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='60-69 years', sex='Male (M)', covid19=1, diabetes_uc=1130, diabetes_mc=3374, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='65-74 years', sex='Female (F)', covid19=2, diabetes_uc=918, diabetes_mc=2798, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='65-74 years', sex='Male (M)', covid19=1, diabetes_uc=1334, diabetes_mc=4177, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='70-79 years', sex='Female (F)', covid19=2, diabetes_uc=971, diabetes_mc=3188, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='70-79 years', sex='Male (M)', covid19=0, diabetes_uc=1316, diabetes_mc=4526, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='75-84 years', sex='Female (F)', covid19=1, diabetes_uc=993, diabetes_mc=3328, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='75-84 years', sex='Male (M)', covid19=0, diabetes_uc=1173, diabetes_mc=4295, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='80+ years', sex='Female (F)', covid19=2, diabetes_uc=1440, diabetes_mc=5112, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=1, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='80+ years', sex='Male (M)', covid19=1, diabetes_uc=1289, diabetes_mc=4856, c19_diabete=0, c19_hypertensive=1, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=1, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='85+ years', sex='Female (F)', covid19=1, diabetes_uc=927, diabetes_mc=3407, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=1, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=1, agegroup='85+ years', sex='Male (M)', covid19=1, diabetes_uc=719, diabetes_mc=2797, c19_diabete=0, c19_hypertensive=1, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=1, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='<18 years', sex='Female (F)', covid19=0, diabetes_uc=4, diabetes_mc=6, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='<18 years', sex='Male (M)', covid19=0, diabetes_uc=2, diabetes_mc=3, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='18-29 years', sex='Female (F)', covid19=0, diabetes_uc=22, diabetes_mc=37, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='18-29 years', sex='Male (M)', covid19=0, diabetes_uc=29, diabetes_mc=49, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='30-39 years', sex='Female (F)', covid19=2, diabetes_uc=46, diabetes_mc=102, c19_diabete=1, c19_hypertensive=1, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=1),
 Row(death_month=2, agegroup='30-39 years', sex='Male (M)', covid19=0, diabetes_uc=89, diabetes_mc=171, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='40-49 years', sex='Female (F)', covid19=0, diabetes_uc=109, diabetes_mc=301, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='40-49 years', sex='Male (M)', covid19=0, diabetes_uc=211, diabetes_mc=478, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='50-59 years', sex='Female (F)', covid19=1, diabetes_uc=356, diabetes_mc=877, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=1),
 Row(death_month=2, agegroup='50-59 years', sex='Male (M)', covid19=4, diabetes_uc=622, diabetes_mc=1631, c19_diabete=1, c19_hypertensive=1, c19_cardio_vascular=2, c19_hypertensive_mcvd=2, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='50-64 years', sex='Female (F)', covid19=2, diabetes_uc=667, diabetes_mc=1752, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=1),
 Row(death_month=2, agegroup='50-64 years', sex='Male (M)', covid19=4, diabetes_uc=1164, diabetes_mc=3091, c19_diabete=1, c19_hypertensive=1, c19_cardio_vascular=2, c19_hypertensive_mcvd=2, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='60-69 years', sex='Female (F)', covid19=2, diabetes_uc=736, diabetes_mc=2083, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='60-69 years', sex='Male (M)', covid19=1, diabetes_uc=1129, diabetes_mc=3185, c19_diabete=1, c19_hypertensive=1, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='65-74 years', sex='Female (F)', covid19=2, diabetes_uc=871, diabetes_mc=2624, c19_diabete=1, c19_hypertensive=0, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='65-74 years', sex='Male (M)', covid19=2, diabetes_uc=1225, diabetes_mc=3798, c19_diabete=1, c19_hypertensive=1, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='70-79 years', sex='Female (F)', covid19=1, diabetes_uc=929, diabetes_mc=2983, c19_diabete=1, c19_hypertensive=0, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='70-79 years', sex='Male (M)', covid19=1, diabetes_uc=1227, diabetes_mc=4127, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='75-84 years', sex='Female (F)', covid19=1, diabetes_uc=901, diabetes_mc=3082, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='75-84 years', sex='Male (M)', covid19=1, diabetes_uc=1090, diabetes_mc=3962, c19_diabete=0, c19_hypertensive=1, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=1, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='80+ years', sex='Female (F)', covid19=3, diabetes_uc=1270, diabetes_mc=4765, c19_diabete=0, c19_hypertensive=1, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='80+ years', sex='Male (M)', covid19=1, diabetes_uc=1212, diabetes_mc=4524, c19_diabete=0, c19_hypertensive=1, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=1, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='85+ years', sex='Female (F)', covid19=2, diabetes_uc=852, diabetes_mc=3250, c19_diabete=0, c19_hypertensive=1, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=2, agegroup='85+ years', sex='Male (M)', covid19=0, diabetes_uc=711, diabetes_mc=2616, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=3, agegroup='<18 years', sex='Female (F)', covid19=1, diabetes_uc=1, diabetes_mc=1, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=0, c19_hypertensive_mcvd=0, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=0),
 Row(death_month=3, agegroup='<18 years', sex='Male (M)', covid19=6, diabetes_uc=2, diabetes_mc=2, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=2, c19_hypertensive_mcvd=2, c19_lower_respiratory=1, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=1),
 Row(death_month=3, agegroup='18-29 years', sex='Female (F)', covid19=11, diabetes_uc=27, diabetes_mc=45, c19_diabete=3, c19_hypertensive=1, c19_cardio_vascular=3, c19_hypertensive_mcvd=3, c19_lower_respiratory=0, c19_kidney=1, c19_liver_cirrhosis=0, c19_obesity=3),
 Row(death_month=3, agegroup='18-29 years', sex='Male (M)', covid19=35, diabetes_uc=35, diabetes_mc=52, c19_diabete=6, c19_hypertensive=1, c19_cardio_vascular=12, c19_hypertensive_mcvd=12, c19_lower_respiratory=2, c19_kidney=2, c19_liver_cirrhosis=0, c19_obesity=5),
 Row(death_month=3, agegroup='30-39 years', sex='Female (F)', covid19=40, diabetes_uc=72, diabetes_mc=145, c19_diabete=3, c19_hypertensive=6, c19_cardio_vascular=20, c19_hypertensive_mcvd=20, c19_lower_respiratory=4, c19_kidney=6, c19_liver_cirrhosis=2, c19_obesity=9),
 Row(death_month=3, agegroup='30-39 years', sex='Male (M)', covid19=123, diabetes_uc=99, diabetes_mc=188, c19_diabete=20, c19_hypertensive=16, c19_cardio_vascular=45, c19_hypertensive_mcvd=45, c19_lower_respiratory=4, c19_kidney=12, c19_liver_cirrhosis=2, c19_obesity=26),
 Row(death_month=3, agegroup='40-49 years', sex='Female (F)', covid19=94, diabetes_uc=129, diabetes_mc=354, c19_diabete=16, c19_hypertensive=21, c19_cardio_vascular=40, c19_hypertensive_mcvd=40, c19_lower_respiratory=10, c19_kidney=3, c19_liver_cirrhosis=0, c19_obesity=20),
 Row(death_month=3, agegroup='40-49 years', sex='Male (M)', covid19=252, diabetes_uc=237, diabetes_mc=633, c19_diabete=53, c19_hypertensive=33, c19_cardio_vascular=81, c19_hypertensive_mcvd=81, c19_lower_respiratory=12, c19_kidney=22, c19_liver_cirrhosis=6, c19_obesity=24),
 Row(death_month=3, agegroup='50-59 years', sex='Female (F)', covid19=232, diabetes_uc=343, diabetes_mc=1011, c19_diabete=50, c19_hypertensive=47, c19_cardio_vascular=100, c19_hypertensive_mcvd=100, c19_lower_respiratory=17, c19_kidney=16, c19_liver_cirrhosis=1, c19_obesity=26),
 Row(death_month=3, agegroup='50-59 years', sex='Male (M)', covid19=537, diabetes_uc=675, diabetes_mc=1785, c19_diabete=98, c19_hypertensive=95, c19_cardio_vascular=210, c19_hypertensive_mcvd=210, c19_lower_respiratory=32, c19_kidney=44, c19_liver_cirrhosis=3, c19_obesity=44),
 Row(death_month=3, agegroup='50-64 years', sex='Female (F)', covid19=416, diabetes_uc=663, diabetes_mc=2033, c19_diabete=88, c19_hypertensive=87, c19_cardio_vascular=178, c19_hypertensive_mcvd=178, c19_lower_respiratory=35, c19_kidney=32, c19_liver_cirrhosis=2, c19_obesity=36),
 Row(death_month=3, agegroup='50-64 years', sex='Male (M)', covid19=931, diabetes_uc=1228, diabetes_mc=3483, c19_diabete=175, c19_hypertensive=180, c19_cardio_vascular=379, c19_hypertensive_mcvd=379, c19_lower_respiratory=60, c19_kidney=85, c19_liver_cirrhosis=7, c19_obesity=68),
 Row(death_month=3, agegroup='60-69 years', sex='Female (F)', covid19=445, diabetes_uc=742, diabetes_mc=2371, c19_diabete=81, c19_hypertensive=100, c19_cardio_vascular=194, c19_hypertensive_mcvd=194, c19_lower_respiratory=46, c19_kidney=38, c19_liver_cirrhosis=6, c19_obesity=19),
 Row(death_month=3, agegroup='60-69 years', sex='Male (M)', covid19=850, diabetes_uc=1207, diabetes_mc=3781, c19_diabete=163, c19_hypertensive=181, c19_cardio_vascular=366, c19_hypertensive_mcvd=366, c19_lower_respiratory=70, c19_kidney=84, c19_liver_cirrhosis=8, c19_obesity=32),
 Row(death_month=3, agegroup='65-74 years', sex='Female (F)', covid19=583, diabetes_uc=937, diabetes_mc=2976, c19_diabete=99, c19_hypertensive=132, c19_cardio_vascular=267, c19_hypertensive_mcvd=267, c19_lower_respiratory=63, c19_kidney=47, c19_liver_cirrhosis=6, c19_obesity=21),
 Row(death_month=3, agegroup='65-74 years', sex='Male (M)', covid19=1040, diabetes_uc=1378, diabetes_mc=4515, c19_diabete=174, c19_hypertensive=214, c19_cardio_vascular=462, c19_hypertensive_mcvd=462, c19_lower_respiratory=83, c19_kidney=103, c19_liver_cirrhosis=6, c19_obesity=18),
 Row(death_month=3, agegroup='70-79 years', sex='Female (F)', covid19=703, diabetes_uc=1043, diabetes_mc=3410, c19_diabete=114, c19_hypertensive=148, c19_cardio_vascular=324, c19_hypertensive_mcvd=324, c19_lower_respiratory=83, c19_kidney=47, c19_liver_cirrhosis=3, c19_obesity=19),
 Row(death_month=3, agegroup='70-79 years', sex='Male (M)', covid19=1123, diabetes_uc=1359, diabetes_mc=4729, c19_diabete=166, c19_hypertensive=239, c19_cardio_vascular=510, c19_hypertensive_mcvd=510, c19_lower_respiratory=92, c19_kidney=112, c19_liver_cirrhosis=3, c19_obesity=20),
 Row(death_month=3, agegroup='75-84 years', sex='Female (F)', covid19=762, diabetes_uc=1024, diabetes_mc=3566, c19_diabete=93, c19_hypertensive=151, c19_cardio_vascular=329, c19_hypertensive_mcvd=329, c19_lower_respiratory=92, c19_kidney=42, c19_liver_cirrhosis=2, c19_obesity=9),
 Row(death_month=3, agegroup='75-84 years', sex='Male (M)', covid19=1099, diabetes_uc=1166, diabetes_mc=4474, c19_diabete=156, c19_hypertensive=246, c19_cardio_vascular=497, c19_hypertensive_mcvd=497, c19_lower_respiratory=109, c19_kidney=94, c19_liver_cirrhosis=3, c19_obesity=13),
 Row(death_month=3, agegroup='80+ years', sex='Female (F)', covid19=1234, diabetes_uc=1434, diabetes_mc=5480, c19_diabete=96, c19_hypertensive=239, c19_cardio_vascular=539, c19_hypertensive_mcvd=539, c19_lower_respiratory=118, c19_kidney=55, c19_liver_cirrhosis=1, c19_obesity=4),
 Row(death_month=3, agegroup='80+ years', sex='Male (M)', covid19=1395, diabetes_uc=1281, diabetes_mc=5194, c19_diabete=166, c19_hypertensive=284, c19_cardio_vascular=622, c19_hypertensive_mcvd=622, c19_lower_respiratory=125, c19_kidney=90, c19_liver_cirrhosis=3, c19_obesity=6),
 Row(death_month=3, agegroup='85+ years', sex='Female (F)', covid19=853, diabetes_uc=938, diabetes_mc=3697, c19_diabete=61, c19_hypertensive=164, c19_cardio_vascular=383, c19_hypertensive_mcvd=383, c19_lower_respiratory=74, c19_kidney=35, c19_liver_cirrhosis=1, c19_obesity=2),
 Row(death_month=3, agegroup='85+ years', sex='Male (M)', covid19=835, diabetes_uc=750, diabetes_mc=3017, c19_diabete=88, c19_hypertensive=159, c19_cardio_vascular=370, c19_hypertensive_mcvd=370, c19_lower_respiratory=67, c19_kidney=48, c19_liver_cirrhosis=1, c19_obesity=3),
 Row(death_month=4, agegroup='<18 years', sex='Female (F)', covid19=9, diabetes_uc=5, diabetes_mc=6, c19_diabete=0, c19_hypertensive=0, c19_cardio_vascular=3, c19_hypertensive_mcvd=3, c19_lower_respiratory=3, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=2),
 Row(death_month=4, agegroup='<18 years', sex='Male (M)', covid19=7, diabetes_uc=4, diabetes_mc=5, c19_diabete=1, c19_hypertensive=0, c19_cardio_vascular=1, c19_hypertensive_mcvd=1, c19_lower_respiratory=0, c19_kidney=0, c19_liver_cirrhosis=0, c19_obesity=1),

Advantages of Pyspark comparying to Pandas:
1. Processing time is faster.
2. sparkDataFrame.count() returns the number of rows which is so straightforward but pandasDataFrame.count() returns the number of non NA/null observations for each column.

Disadvantages of Pyspark comparying to Pandas:
1. Updating, adding, and deleting columns are quite easier using Pandas.
2. Debugging of pyspark coding is harder than pandas.